{% extends 'base2.html' %}
{% block title %}
    博客实战首页
{% endblock %}

{% block main %}
    <main class="col-md-8">

				<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
									<!-- Indicators -->
									<ol class="carousel-indicators">

                                        {% for a in ads %}
                                            {% if forloop.counter0 == 0 %}
                                                <li data-target="#carousel-example-generic" data-slide-to="{{forloop.counter0}}" class="active"></li>
                                            {% else %}
                                                <li data-target="#carousel-example-generic" data-slide-to="{{forloop.counter0}}"></li>
                                            {% endif %}

                                        {% endfor %}




									</ol>

									<!-- Wrapper for slides -->
									<div class="carousel-inner" role="listbox">

                                        {% for a in ads %}
                                            {% if forloop.counter0 == 0 %}
                                                <div class="item active">

                                                    <img src="/media/{{a.img}}" alt="...">
                                                    <div class="carousel-caption">
                                                        <h1>{{a.desc}}</h1>
                                                    </div>
                                                </div>
                                            {% else %}
                                                <div class="item">
                                                    <img src="/media/{{a.img}}" alt="...">
                                                    <div class="carousel-caption">
                                                        <h1>{{a.desc}}</h1>
                                                    </div>
                                                </div>
                                            {% endif %}

                                        {% endfor %}





									</div>

									<!-- Controls -->
									<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
										<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
										<span class="sr-only">Previous</span>
									</a>
									<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
										<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
										<span class="sr-only">Next</span>
									</a>
								</div>


                <article class="post post-1">
                    <header class="entry-header">
                        <h1 class="entry-title">
                            <a href="single.html">Django 博客开发入门教程：前言</a>
                        </h1>
                        <div class="entry-meta">
                            <span class="post-category"><a href="#">Django 博客教程</a></span>
                            <span class="post-date"><a href="#"><time class="entry-date"
                                                                      datetime="2012-11-09T23:15:57+00:00">2017年5月11日</time></a></span>
                            <span class="post-author"><a href="#">追梦人物</a></span>
                            <span class="comments-link"><a href="#">4 评论</a></span>
                            <span class="views-count"><a href="#">588 阅读</a></span>
                        </div>
                    </header>
                    <div class="entry-content clearfix">
                        <p>免费、中文、零基础，完整的项目，基于最新版 Django 1.10 和 Python 3.5。带你从零开始一步步开发属于自己的博客网站，帮助你以最快的速度掌握 Django
                            开发的技巧...</p>
                        <div class="read-more cl-effect-14">
                            <a href="#" class="more-link">继续阅读 <span class="meta-nav">→</span></a>
                        </div>
                    </div>
                </article>

                <!-- 简单分页效果
                <div class="pagination-simple">
                    <a href="#">上一页</a>
                    <span class="current">第 6 页 / 共 11 页</span>
                    <a href="#">下一页</a>
                </div>
                -->
                <div class="pagination col-md-11">
                    <ul>
                        <li class="col-md-2"><a href="">上一页</a></li>
                        <li class="col-md-1"><a href="">...</a></li>
                        <li class="col-md-1"><a href="">53</a></li>
                        <li class="col-md-1"><a href="">54</a></li>
                        <li class="current col-md-1"><a href="">55</a></li>
                        <li class="col-md-1"><a href="">56</a></li>
                        <li class="col-md-1"><a href="">57</a></li>
                        <li class="col-md-1"><a href="">...</a></li>
                        <li class="col-md-2"><a href="">下一页</a></li>
                    </ul>
                </div>
            </main>
{% endblock %}

