{% extends 'base.html' %}

{% block title %}
    注册
{% endblock %}

{% block main %}
    <div class="col-md-8 col-md-offset-2">
        <h3 class="center">注册</h3>
        <form class="form-horizontal" action="#" method="post">
      <div class="form-group">
        <label for="email" class="col-sm-2 control-label">邮箱</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="email" placeholder="请输入邮箱" name="email">
        </div>
      </div>
          <div class="form-group">
            <label for="password" class="col-sm-2 control-label">密码</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="password" placeholder="请输入密码" name="password">
            </div>
          </div>
          <div class="form-group">
            <label for="password2" class="col-sm-2 control-label">重复密码</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="password2" placeholder="请输入重复密码" name="password2">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              {% for message in get_flashed_messages() %}
                <label class="text-danger" class="col-sm-2 control-label">{{message}}</label>
              {% endfor %}
            </div>
          </div>


          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default">注册</button>
              <a href="/login" class="btn btn-default">已有账号,进入登录页面</a>

            </div>
          </div>
        </form>
    </div>
{% endblock %}