<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>编辑英雄</title>
</head>
<body>
<form action="#" method="post">
    英雄的名字： <input type="text" name="heroname" value="{{hero.name}}">
    <br>
    英雄的技能： <input type="text" name="herocontent" value="{{hero.content}}">
    <br>
    {% if hero.gender == 'male' %}
        英雄的性别 <input type="radio" name="sex" value="female" > 女 <input type="radio" name="sex" value="male" checked> 男
    {% else %}
        英雄的性别 <input type="radio" name="sex" value="female" checked> 女 <input type="radio" name="sex" value="male" > 男
    {% endif %}




    <br>

    <input type="submit" value="提交">

</form>


</body>
</html>