<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <div class="container">
        <!--  这里是普通的注释        -->
        {# 这里是django模板注释 #}

        <h1 class="center">这里是首页</h1>
        <div>
            <div class="center">
                <img src="/static/img/公众号.jpg" alt="">
            </div>


            <h2>共有书籍({{books.count}})</h2>


            <ul>
                {% for book in books  %}
                    <li>
                        {# <a href="/detail/{{book.id}}/"> <li>{{book.id}} -- {{book.title}} -- {{book.price}} -- {{book.pub_date}}</li>  </a> #}

                        <a href="{% url 'booktest:detail' book.id %}"> {{book.id}} -- {{book.title}} -- {{book.price}} -- {{book.pub_date}}    </a>

                        <a href="{% url 'booktest:deletebook' book.id %}">删除</a>
                    </li>
                {% endfor %}

            </ul>

            {#  <h2><a href="{% url 'booktest:addbook' %}">添加书籍</a>  </h2> #}
        </div>

    </div>
</body>
</html>