<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>投票结果页</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <div class="container">
       {% block header %}
            <div>
                {% if request.user and request.user.username != '' %}
                   用户名： {{request.user.username}} <a href="{% url 'polls:logout' %}">退出</a>
                {% else %}
                    <a href="{% url 'polls:login' %}">登录</a> <a href="{% url 'polls:regist' %}">注册</a>
                {% endif %}


            </div>



        {% endblock %}

        {% block body %}
            这里是身体
        {% endblock %}

        {% block footer %}
            这里是底部
        {% endblock %}
    </div>
</body>
</html>

