{% extends 'polls/base.html' %}
{% block title %}
    登录
{% endblock %}

{% block body %}
{%  comment  %}

<form action="#" method="post">
    {% csrf_token %}
    用户名: <input type="text" name="username" required>
    <br>
    密码： <input type="password" name="password" required>
    <br>
    <input type="submit" value="登录">
    {{errors}}

</form>
{%  endcomment  %}


<form action="" method="post">
    {% csrf_token %}

     {# {{lf}}  #}
    {{lf.username.label}} : {{lf.username}}
    <br>
    {{lf.username.help_text}}
    <br>
    {{lf.password.label}} : {{lf.password}}
    <br>
    {{lf.username.help_text}}
    <br>

    <input type="submit" value="登录">

</form>




{% endblock %}