{% extends 'polls/base.html' %}
{% block title %}
    注册
{% endblock %}
{% block body %}

    <form action="#" method="post">
        {% csrf_token %}
        用户名: <input type="text" name="username" required>
        <br>
        密码： <input type="password" name="password" required>
        <br>
        重复密码： <input type="password" name="password2" required>
        <br>
        <input type="submit" value="注册">

        <p>{{errors}}</p>
    </form>


 {% comment %}

<form action="#" method="post">
{% csrf_token %}
    {{rf.username.label}} : {{rf.username}}
    <br>
    {{rf.username.help_text}}
    <br>
    {{rf.password.label}} : {{rf.password}}
    <br>
     {{rf.password.help_text}}
    <br>
     {{rf.password2.label}} : {{rf.password2}}
    <br>
    <input type="submit" value="注册">
</form>
  {% endcomment %}
{% endblock %}